<p>Edit <%=@landmark.name%>!<p>
<form method = 'post' action = '/landmarks/<%=@landmark.id%>'>
  <label>Current Landmark Name: <%=@landmark.name%>. New Landmark Name:</label><input name = 'landmark[name]' type = 'text' id = 'name'>
  <label>Current Year Completed: <%=@landmark.year_completed.to_s%>.  New Year Completed:</label><input name = 'landmark[year_completed]' type = 'text' id = 'year_completed'>
  <input type = 'submit' value = 'Edit Landmark'>
</form>
